@font-face {
    font-family: "iran-sans";
    src: url(/fonts/UltraLight.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iran-sans";
    src: url(/fonts/Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iran-sans";
    src: url(/fonts/regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iran-sans";
    src: url(/fonts/Medium.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iran-sans";
    src: url(/fonts/Bold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "iran-sans";
    src: url(/fonts/Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}